<template>
    <template if:true={url}>
        <img src={url} style={imageStyle} alt={altText} />
    </template> 
    <template if:false={url}> 
        Image Not Found 
    </template>


    <!--Documenation 
    1. Use generateImage(Js Method) to generate url and pass url in src.
    2. Control Image Size from Configure Section mentioned in JS.
    -->
 
    <!--Use this component as child in parent component by following below steps-->
    <!--   
        1. Use below in parent component  
        <c-image-thumbnail url={thumbnailURL} alt-text="Image Not Found">
        </c-image-thumbnail> 
        2. Copy generateImage(Js Method) in parent component and mark generateURLFromParent as true.
    -->
 
</template>   