.THIS .headerStyling{
    background:rgb(22, 50, 92);
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 15px !important;
    margin-left: 0;
    margin-right: 0;
   /* font-weight: bold;*/
    font-size: 24px;
    Color:white;
    line-height: 2;
}
.THIS .absoluteCenter{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
}
.THIS .slds-th__action:hover{
    background-color: rgb(216, 237, 255) !Important;
}

.THIS .requiredStyling {
	color: red;
}

.THIS label {
font-size: 14px !important;
}

.THIS .buttonDiv{ 
    margin-top: 20px;
    margin-bottom: 20px;
}